.intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  animation: intro_fadeOut 0.3s linear forwards;
  &:is(.show) {
    animation: intro_fadeIn 0.3s linear forwards;
  }
}

.intro {
  animation: intro_fadeOut 0.2s linear forwards;
  z-index: 2001;
  &:is(.show) {
    animation: intro_fadeIn 0.2s linear forwards;
  }
  .intro-content {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 14px;
    max-width: 250px;
    color: #000;
    text-align: justify;
    .intro-main {
      padding: 12px;
    }
    .intro-steps {
      display: flex;
      justify-content: center;
      gap: 5px;
      padding: 0px;
      margin: 10px 0px 0px 0px;
      li {
        list-style: none;
        width: 7px;
        height: 7px;
        background-color: #ccc;
        border-radius: 50%;
        transition: width 0.2s ease-in-out;
        cursor: pointer;
        &:is(.active) {
          width: 15px;
          background-color: #999;
          border-radius: 4px;
        }
      }
    }
    .intro-btn {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      border-top: 1px solid #ddd;
      padding: 10px 12px;
      button {
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        width: 60px;
        font-size: 14px;
        color: white;
        padding: 5px 0px;
        &:disabled {
          opacity: 0.7;
        }
      }
    }
    .intro-arrow {
      position: absolute;
      width: 12px;
      height: 12px;
      transform: rotate(45deg);
      background-color: #ffffff;
    }
  }
}

.intro-highlight {
  position: relative;
  z-index: 2001;
}

.intro-highlight-container {
  position: absolute;
  z-index: 2000;
  background-color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  outline: 5px solid #ffffff;
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
}

.intro-arrow[data-position="left-center"] {
  right: -6px;
  top: calc(50% - 6px);
}

.intro-arrow[data-position="left-start"] {
  top: 10px;
  right: -6px;
}

.intro-arrow[data-position="left-end"] {
  right: -6px;
  bottom: 10px;
}

.intro-arrow[data-position="right-center"] {
  left: -6px;
  top: calc(50% - 6px);
}

.intro-arrow[data-position="right-start"] {
  top: 10px;
  left: -6px;
}

.intro-arrow[data-position="right-end"] {
  bottom: 10px;
  left: -6px;
}

.intro-arrow[data-position="top-center"] {
  left: 50%;
  bottom: -6px;
}

.intro-arrow[data-position="top-end"] {
  right: 10px;
  bottom: -6px;
}

.intro-arrow[data-position="top-start"] {
  left: 15px;
  bottom: -6px;
}

.intro-arrow[data-position="bottom-center"] {
  top: -6px;
  left: 50%;
}

.intro-arrow[data-position="bottom-start"] {
  top: -6px;
  left: 10px;
}

.intro-arrow[data-position="bottom-end"] {
  top: -6px;
  right: 10px;
}

@keyframes intro_fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes intro_fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
